__pycache__
*.pyc
*egg-info
.idea
.vscode
.DS_Store
output
build
datasets
dataset
log
point
nvdiffrast
pbgi/bvhworkers/.slangtorch_cache/*
*.lock
.mplconfig/
.tmp/
%SystemDrive%/
vendor/site-packages/
*.pyd
*.obj
*.lib
*.exp
*.egg
external/**/.git/
external/**/build/
external/**/dist/
**/__pycache__/